# Comments & Basic Data Types

In [9]:
print("Hello world") # this is a comment, man
#but if i do this

Hello world

In [7]:
"""
        hey thats comment?
"""
print("is it working?")

is it working?

In [10]:
#its all about integers
print(5)
print(10)

5
10

In [14]:
#float baby
print(5.10)
print(10.0) # this number is float somehow

5.1
10.0

In [15]:
#BOOleans
print(True)
print(False)

True
False

In [16]:
#Strings
print("")
print("I am jedi")
print('True')

I am jedi
True

In [17]:
print("Andriy","Andrii","Andrew")

Andriy Andrii Andrew

# Variables

In [47]:
#storing str,float,int
turn = "Vkluchai blyat"
num1 = 5.10
num2 = 5
num3 = 10
print(num1,num2,num3,turn)

5.1 5 10 Vkluchai blyat

In [43]:
#storing boolean
switch = True
print(switch)

True

In [50]:
#storing string complex
name = "Andriy"
birth_day = "23"
print(name,",",birth_day)

Andriy , 23

In [52]:
#two variables = one variable
result = num1 + num2
print(result)

10.1

In [62]:
#complex operations with variables
result += 1 #same as saying result = result + 1
print(result)
result *= num3 #as as saying result = result * num3(10)
print(result)

14211.0
142110.0

In [65]:
#defining a variable and overwriting it's value
name = "Andriy"
print(name)
name = "Andrii"
print(name)

Andriy
Andrii

In [68]:
#whitespacesmatter
name = "Andriy Kulyk"
print(name)

Andriy Kulyk

In [78]:
#tuesday exercises
x = 3
y = 10
result = x+y
result = "3 + 10 = 13"
print(result)

3 + 10 = 13

In [80]:
#tuesday exercises
width = 245.54
height = 13.66
result = width * height
print(result)

3354.0764

# Working with strings

In [84]:
#using the addition operator without variables
name = "Andriy" + " " + "Kulyk"
print(name)

Andriy Kulyk

In [87]:
#using the addition operator w/ variables
first_name = "Andriy"
last_name = "Kulyk"
full_name = first_name + " " + last_name
print(full_name)

Andriy Kulyk

In [92]:
#injecting variables using the format method
name = "Vladimir Vladimirovich"
print("Zdravstvuite {}, chto vi hoteli?".format(name))
print("Mne kajetsya ya hochu srati {},{},{}".format(19,name,20))

Zdravstvuite Vladimir Vladimirovich, chto vi hoteli?
Mne kajetsya ya hochu srati 19,Vladimir Vladimirovich,20

In [94]:
#using the f strings
name = "Andriy"
print(f"Hello {name}")

Hello Andriy

In [95]:
# one major difference between versions 2 & 3
name = 'Andriy'
print('Hello, %s' % name)

Hello, Andriy

In [96]:
# python 2 multiple variable formatting
first_name = "Andriy"
last_name = "Kulyk"
print( "Hello, %s %s" % (first_name, last_name) )
 # surround the variables in parenthesis

Hello, Andriy Kulyk

In [104]:
#using indexes to print each element
word = "Hello"
print(word[0:5:2])

Hlo

In [118]:
#wednesday exercises
num1 = 23
num2 = 4.5
switch = False
name = "Andriy"
print(f"{num1} {num2} {switch} {name}") #or we can do it print(num1,num2,switch,name)

23 4.5 False Andriy

In [123]:
#wednesday exercises
favorite_act = "gaming"
hobby = "studying"
print(f"{name}'s favorite sports is {favorite_act}.")
print(f"{name} is working on {hobby} programming!") #or we can do this print("{}'s favorite sports is {}".format(name,favorite_act))
                                                                        #print("{} is working on {} programming".format(name,hobby) )

Andriy's favorite sports is gaming.
Andriy is working on studying programming!

# Manipulating strings

In [136]:
#using the title method to capitalize a string
name = "andriy kulyk"
print( name.title()) #name.upper() or name.lower()

Andriy Kulyk

In [151]:
# replacing an exclamation point with a period
words = words.replace("!", ".")
print( words.replace( "!", "." ) ) #.replace(what's needs to be replaced","replacment")

Hello there.

In [153]:
#finding the starting index of our searched term
s = "Look over that way"
print( s.find("over"))

5

In [1]:
#removing white space with strip
name = "Andriy"
print( name.strip("A"))            #lstrip or rstrip

ndriy

In [178]:
# converting a string into a list of words
s = "These words are separated by spaces"
print ( s.split())

['These', 'words', 'are', 'separated', 'by', 'spaces']

In [180]:
#thursday exercises
word = "uppercase"
print(word.upper())

UPPERCASE

In [185]:
#thursday exercises
name = "$$John Smith"
print(name.strip("$")) #print(name.lstrip("$")) - basically the same

John Smith

# Printing Receipts

In [74]:
#create a product and price for three items
p1_name, p1_price = "GPU", 699
p2_name, p2_price = "CPU", 400
p3_name, p3_price = "RAM", 129
#create a company name and information
company_name = "maslenok, inc."
company_address = "Heroiv Maidanu."
company_city = "Chernivtsi"
#bottom ending message
message = "Thanks for shopping with ukranian eco-friendly brand"
#create a top border
print( "*" * 49)
#print company information first, using format
print("*" "\t\t{} \t\t\t*".format( company_name.title()))
print("*" "\t\t{} \t\t*".format( company_address))
print("*" "\t\t{} \t\t\t*".format( company_city))
#a line between sections
print("=" * 49)
#print out header for section of items
print("*" "\tProduct Name\tProduct Price" "\t\t*")
#create a print statement for each product
print("*" "\t{}\t\t${} \t\t\t*".format(p1_name.upper( ), p1_price))
print("*" "\t{}\t\t${} \t\t\t*".format(p2_name.upper( ), p2_price))
print("*" "\t{}\t\t${} \t\t\t*".format(p3_name.upper( ), p3_price))
#print a line between sections
print("=" * 49)
#print out header for section of total
print("*" "\t\t\tTotal \t\t\t*")
#calculate total price and print out
total = p1_price + p2_price + p3_price
print("*" "\t\t\t${} \t\t\t*".format(total)) #if print("\t\t\t$",total) - there will be whitespace between $ and total
#print a line between sections
print("=" * 49)
#output thanks message
print("\n{}\n".format(message))
#create bottom border
print("*" * 49)

*************************************************
*		Maslenok, Inc. 			*
*		Heroiv Maidanu. 		*
*		Chernivtsi 			*
=================================================
*	Product Name	Product Price		*
*	GPU		$699 			*
*	CPU		$400 			*
*	RAM		$129 			*
=================================================
*			Total 			*
*			$1228 			*
=================================================

Thanks for shopping with ukranian eco-friendly brand

*************************************************

In [21]:
#weekly challenge
x = "Hello"
print(x[::-3])

oe